---
import '../../styles/globals.css';

import { ThreeCanvas } from '../ui/ThreeCanvas';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <title>DaveBeach.me</title>
  </head>
  <body>
    <div id="root">
      <ThreeCanvas client:load>
        <slot />
      </ThreeCanvas>
    </div>
  </body>
</html>
